# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
env/
venv/
.env

# Models & Data
*.pt
weights/*.pt
weights/*.pth
!weights/.gitkeep
yolo_datasets/
crops_all/
crops_test_run/
output/
runs/
yolo_train_runs/
CarPlateDetect_DATASETs/

# Logs & Debug
*.log
debug_api/
debug_images/
test_evaluation_results.csv

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

datasets/

RESUME.docx
rules.txt
scratch/

static/samples/
test_slice.jpg
top_banner_0072.jpg

# ONNX export
*.ONNX