# --- Web API ---
fastapi
uvicorn
python-multipart
python-dotenv

# --- AI & ML Core ---
ultralytics
torch
torchvision
onnx==1.17.0
onnxruntime==1.23.2
onnxslim==0.1.96

# --- Logic & Data Processing ---
opencv-python-headless
pillow
numpy
pandas
editdistance
requests
tqdm
scikit-learn
pydantic
